@import'./01_resets';

@import'./02_variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

body {
    background: $primary-color;
    color: $text-color;

}


.main {
    width: 80%;
    margin: 0 auto;

    // &__paragraph {
    //     font-weight: map-get($font-weights, "bold");

    #{&}__paragraph {  // interpolation : for this paragraph and 
                    //every thing behibd
        font-weight: weight('bold');

      &:hover {
          color: pink;
      }


    }
}